@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<h2>Home</h2>
<h3>Home page of MVC app</h3>

<p>All http headers</p>

@foreach (var header in Context.Request.Headers)
{
    <p>@header.Key : @string.Join(", ", header.Value)</p>
}

<p>@nameof(HttpContextAccessor.HttpContext.Connection.LocalIpAddress) : @HttpContextAccessor.HttpContext.Connection.LocalIpAddress</p>
<p>@nameof(HttpContextAccessor.HttpContext.Connection.LocalPort) : @HttpContextAccessor.HttpContext.Connection.LocalPort</p>
<p>@nameof(HttpContextAccessor.HttpContext.Connection.RemoteIpAddress) : @HttpContextAccessor.HttpContext.Connection.RemoteIpAddress</p>
<p>@nameof(HttpContextAccessor.HttpContext.Connection.RemotePort) : @HttpContextAccessor.HttpContext.Connection.RemotePort</p>
